@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    padding: 0;
    background: url('/images/bg.png');
    background-size: cover;

}
.container{
    box-sizing: border-box;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    
    a{
        text-decoration: none;
        color: black;
    }
}
.card{
    margin-top: 20px;
    width: 18rem;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    &:hover{
        box-shadow: transparent 0 0 1px;
        transform: perspective(1px) translateZ(0);
        transform: translateY(-10px);
        transition-duration: .2s;
        transition-property: transform;
        transition-timing-function: ease-out;    
    }
}
.card-text{
    margin-top:10px;
}
.header_index{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;



            .login_header_index{
                margin-right: 20px;
                text-decoration: none;
                margin: 10px;
                border: 1px solid #49acc5;
                border-radius: 50px;
                color: #49acc5;
                cursor: pointer;

                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                height: 34px;
                line-height: 34px;
                padding: 0 23px;
                position: relative;
                text-align: center;
                
                transition-duration: .3s;
                transition-property: all;
                transition-timing-function: ease-in-out;
                &:hover{
                    background: #49acc5;
                    color: white;
                }
            }
        
    
    .title_header_index{
        margin: auto;
    }
}

