
.card{
    width: 50rem;
}
.btn-login{
    text-decoration: none;
    margin: 10px;
    border: 1px solid #49acc5;
    border-radius: 50px;
    color: #49acc5;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 34px;
    line-height: 34px;

    padding: 0 23px;
    position: relative;
    text-align: center;
    
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    &:hover{
        background: #49acc5;
        color: white;
    }
    }

    .btn-register{
        text-decoration: none;
        margin: 10px;
        border: 1px solid #4b49c5;
        border-radius: 50px;
        color: #4b49c5;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        height: 34px;
        line-height: 34px;
    
        padding: 0 23px;
        position: relative;
        text-align: center;
        
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        &:hover{
            background: #4b49c5;
            color: white;
        }
        }