body {
  margin: 0;
  padding: 0;
  background: url("/images/bg-article.png");
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

.title-return-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card {
  width: 50rem;
  margin: 10px;
}

.btn-return {
  margin: 10px;
  border: 1px solid #49acc5;
  border-radius: 50px;
  color: #49acc5;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  margin: 0 0 0 6px;
  padding: 0 23px;
  position: relative;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.btn-return:hover {
  background: #49acc5;
  color: white;
}

.btn-login {
  text-decoration: none;
  margin: 10px;
  border: 1px solid #49acc5;
  border-radius: 50px;
  color: #49acc5;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  line-height: 34px;
  margin: 0 0 0 6px;
  padding: 0 23px;
  position: relative;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.btn-login:hover {
  background: #49acc5;
  color: white;
}

